.card {
  margin: 0 auto;

  margin-bottom: 20px;
}

/* Для екранів шириною до 320px */
@media (max-width: 320px) {
  .card {
    max-width: 320px;
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
}

/* Для екранів шириною від 321px до 768px */
@media (min-width: 321px) and (max-width: 768px) {
  .card {
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
}

/* Для екранів шириною від 769px до 1158px */
@media (min-width: 769px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    max-width: 1158px;
  }
}
