.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-width: 300px; */
  width: 100%;
  border: 2px orange solid;
  text-align: left;
  margin-bottom: 20px;
}

.field {
  display: flex;
  width: 70%;
  margin: 0 0;
}

.field::placeholder {
  color: orange;
}

.btn {
  padding: 5px 14px;
  color: green;
  background-color: orange;
  text-transform: uppercase;
  border: none;
  border-radius: 0%;
  /* width: 170px; */
  width: 100%;
}

.btn:hover {
  background: gold;
  color: #000;
  /* border: none; */
}

.error {
  color: orange;
}

.select {
  margin: 15px 0;
  width: 70%;
  border: none;
  color: green;
}
